<h1> Make a new Blogger </h1>

<%= form_for @blogger do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :bio %>
    <%= f.text_field :bio %>

    <%= f.label :age %>
    <%= f.number_field :age %>

    <%= f.submit %>
<% end %>

<% if @blogger.errors.any? %>
    <h3> There were some errors trying to add the new blogger: </h3>
    <% @blogger.errors.full_messages.each do |error_message| %>
        <p> <%= error_message %> </p>
    <% end %>
<% end %>